Package: zabbix-rbl
Version: 1.0.0-2019111801
Section: net
Priority: optional
Architecture: all
Depends: zabbix-agent (>=4.0)
Maintainer: Gabriele Vivinetto <gabriele.mailing@rvmgroup.it>
Description: Zabbiz iserver scripts to monitor RBL
 These scripts monitor RBL blacklists with Zabbix

